// Colors
$clr1: #5352ed;
$clr2: #70a1ff;
$clr3: #30336b;
$clr4: #2d3436;
$clr5: #574f7d;
$clr6: #7bed9f;
$clr7: #fff;
$clr9: #38b7b1;
$clr8: rgba(255, 255, 255, 0.26);

$navHeight: 65px;

// Breakpoints editor status
$editor-mobile-breakpoint: 700px;
$editor-narrow-breakpoint: 815px;
$editor-normal-breakpoint: 1055px;

// Breakpoints
$mobile-breakpoint: 800px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;