.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: openSans, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
.main-container {
    flex: 1;
}
